<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/docs.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <script type="text/javascript" src="resources/js/datatables.min.js"/>
    </head>
    <body id="body" style="padding-top: 70px">
        <nav class="navbar navbar-default navbar-fixed-top ">
            <div class="navbar-header">
                <a data-template="config:app-title" class="navbar-brand" href="./index.html">App Title</a>
            </div>
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    <li id="overview">
                        <a href="index.html">Übersicht</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li id="logout" data-template="user:get-logout">
                        <a>logout</a>
                    </li>
                    <li id="info">
                        <a href="info.html">Info</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content" class="container"/>
        <footer>
        </footer>
    </body>
</html>